<section class="hero is-medium is-warning is-bold">
    <div class="hero-body">
        <div class="container">
        <h1 class="title">
            About
        </h1>
        <h2 class="subtitle">
            This website was made for RUBY 5 college <a class="has-text-link" href="https://github.com/TeeJay007/ruby-5">task</a>.
        </h2>
        </div>
    </div>
</section>