<section class="hero is-medium is-success is-bold">
    <div class="hero-body">
        <div class="container">
        <h1 class="title">
            Contact us
        </h1>
        <h2 class="subtitle">
            Here would be a form to contact us, but here's another <%= link_to "quote", quotes_path, class: "has-text-link" %> instead.
        </h2>
        </div>
    </div>
</section>