<section class="hero is-medium is-dark is-bold">
    <div class="hero-body">
        <div class="container">
        <h1 class="title">
            Homepage
        </h1>
        <h2 class="subtitle">
            This is just a home page click <%= link_to "here", quotes_path, class: "has-text-link" %> to get a random quote.
        </h2>
        </div>
    </div>
</section>